<div class="col col-12 d-flex justify-content-center align-items-center">
  <div class=" col col-10">
    <div class=" col col-12 d-flex justify-content-center align-items-center">
      <div class="col-2 p-3">
        <div class="card side-menu">
          <div class="col-12 card-body d-flex flex-wrap justify-content-start align-items-center">
          </div>
        </div>
      </div>
      <div class="col-10 p-3">
        <div class="card">
          <div class="col-12 card-body">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
