<div class="col col-12 d-flex justify-content-center align-items-center headLine mt-5 mb-3">
  <div class="txt_headLine">
    دسترسی سریع
  </div>
</div>
<div class="card col-12 mt-3 overflow-hidden d-lg-flex justify-content-center">
  <div class="card-body col-12 d-flex justify-content-center align-items-center">
    <div class="link link-green col col-auto click mx-3">سامانه سجام</div>
    <div class="link link-green col col-auto click mx-3"> وام</div>
    <div class="link link-green col col-auto d-none d-lg-flex click mx-3"> کارتخوان</div>
    <div class="link link-green col col-auto click mx-3" [routerLink]="['news']">اخبار</div>
    <div class="link link-green col col-auto d-none d-lg-flex click mx-3">خدمات الکترونیک</div>
    <div class="link link-green col col-auto d-none d-lg-flex click mx-3">قرعه کشی</div>
    <div class="link link-green col col-auto d-none d-lg-flex click mx-3">کارت المثنی</div>
  </div>
</div>
