<div id="header" class="text-white d-flex align-items-center">
	<div class="container-fluid col col-12 d-flex justify-content-center">
		<div class="d-flex align-items-center justify-content-between col-12">
			<div class="col col-2 d-none d-lg-flex logo">
				<img src="/assets/images/logo2.png"  >
			</div>
			<div class="col col-12 col-lg-8 d-flex justify-content-center">
				<div class="link-2 link-orange col col-auto click ms-3">خدمات</div>
				<div class="link-2 link-orange col col-auto click ms-3">بانکداری الکترونیک</div>
				<div class="link-2 link-orange col col-auto click ms-3">درباره ی ما</div>
				<div class="link-2 link-orange col col-auto click ms-3">ارتباط با ما</div>
			</div>
			<div class="col col-2 d-flex justify-content-end align-items-center">
<!--				<form class="form-inline my-2 my-lg-0">-->
<!--					<input class="form-control mr-sm-2" type="search" placeholder="جست جو" aria-label="Search">-->
<!--				</form>-->
				<div class="button  button_orange ms-3 d-none d-lg-flex">اینترنت بانک</div>
			</div>
		</div><!-- /row -->
	</div><!-- /container-fluid -->
</div>



















































<!--			<div class="col col-auto operator d-flex align-items-center px-3">
				<div class="dropdown user_dropdown">
					<div class="avatar dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="avatar d-flex align-items-center" style="font-size: 30px;"><i class="fas fa-user"></i></span>
						<span class="name d-none d-lg-inline">admin</span>
					</div>
					<div class="items dropdown-menu shadow">
						{{&#45;&#45;<a class="item dropdown-item d-flex align-items-center" href="#">
						<span class="icon"><i class="bi bi-person-vcard"></i></span>
						<span class="label">پروفایل</span>
					</a>
						<a class="item dropdown-item d-flex align-items-center" href="#">
							<span class="icon"><i class="bi bi-gear"></i></span>
							<span class="label">تنظیمات</span>
						</a>&#45;&#45;}}
						<a class="item dropdown-item d-flex align-items-center">
							<span class="icon"><i class="bi bi-key"></i></span>
							<span class="label">تغییر رمز عبور</span>
						</a>
						<a class="item dropdown-item d-flex align-items-center">
							<span class="icon"><i class="bi bi-box-arrow-left"></i></span>
							<span class="label">خروج</span>
						</a>
					</div>
				</div>
			</div>
			<div class="col col-auto menu d-flex d-lg-none fz_20">
				<i class="fas fa-bars"></i>
			</div>-->
