<div class="dashboard col-12">

  <div class=" container-fluid col-12 d-flex justify-content-center flex-wrap mt-3">
    <app-carousel class="col-12"></app-carousel>
    <app-quick-access class="col-12"></app-quick-access>
    <div class="col col-12 d-flex justify-content-center align-items-center headLine mt-5 mb-3">
      <div class="txt_headLine">آخرین اخبار موسسه</div>
    </div>
    <div class="col-12 d-flex justify-content-start align-items-center flex-wrap mt-3">
      <div class="px-3 col-12 col-lg-6 my-3">
        <div class="news col col-12">
          <div class="news-img">
            <img src="/assets/images/news/jason-dent-3wPJxh-piRw-unsplash.jpg" alt="">
          </div>
          <div class="news-content">
            <div class="news-title">
              <div class="news-title-txt">ارتقا امنیت موسسه</div>
            </div>
            <div class="d-flex flex-column justify-content-between h-100 ">
              <div class="news-desc mt-3">موسسه در راستای ارتقای امنیت خود گاوصندوق را تعویض نمود</div>
              <div class="news-time">
                {{'1402/11/10  16:53' | persianNumber}}
                <i class="bi bi-clock"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="px-3 col-12 col-lg-6 my-3">
        <div class="news col col-12">
          <div class="news-img">
            <img src="/assets/images/news/museums-victoria-VLg5MhJLTds-unsplash.jpg" alt="">
          </div>
          <div class="news-content">
            <div class="news-title">
              <div class="news-title-txt">ارتقا امنیت موسسه</div>
            </div>
            <div class="d-flex flex-column justify-content-between h-100 ">
              <div class="news-desc mt-3">موسسه در راستای ارتقای امنیت خود گاوصندوق را تعویض نمود</div>
              <div class="news-time">
                {{'1402/11/10  16:53' | persianNumber}}
                <i class="bi bi-clock"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="px-3 col-12 col-lg-6 my-3">
        <div class="news col col-12">
          <div class="news-img">
            <img src="/assets/images/news/miquel-parera-41J9-JTIP-c-unsplash.jpg" alt="">
          </div>
          <div class="news-content">
            <div class="news-title">
              <div class="news-title-txt">ارتقا امنیت موسسه</div>
            </div>
            <div class="d-flex flex-column justify-content-between h-100 ">
              <div class="news-desc mt-3">موسسه در راستای ارتقای امنیت خود گاوصندوق را تعویض نمود</div>
              <div class="news-time">
                {{'1402/11/10  16:53' | persianNumber}}
                <i class="bi bi-clock"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="px-3 col-12 col-lg-6 my-3">
        <div class="news col col-12">
          <div class="news-img">
            <img src="/assets/images/news/micheile-henderson-SoT4-mZhyhE-unsplash.jpg" alt="">
          </div>
          <div class="news-content">
            <div class="news-title">
              <div class="news-title-txt">ارتقا امنیت موسسه</div>
            </div>
            <div class="d-flex flex-column justify-content-between h-100 ">
              <div class="news-desc mt-3">موسسه در راستای ارتقای امنیت خود گاوصندوق را تعویض نمود</div>
              <div class="news-time">
                {{'1402/11/10  16:53' | persianNumber}}
                <i class="bi bi-clock"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<!--  &lt;!&ndash; breadcrumb2 &ndash;&gt;
  <div class="breadcrumb2 col col-12 mt-3">
    <div class="container-fluid">
      <div class="items">
        <a class="item" routerLink="/panel">
          <span class="title">داشبورد</span>
        </a>
      </div>
    </div>
  </div>&lt;!&ndash; /breadcrumb2 &ndash;&gt;


  <div class="container-fluid">

    <div class="card">
      <div class="card-header">اطلاعات پایه</div>
      <div class="card-body">

        <div class="row mb-3">
          <div class="col col-auto">
            <a routerLink="/panel/units" class="button button_blue">واحدهای سنجش</a>
          </div>
        </div>

        <div class="sep sep-dashed my-3"></div>

        <div class="row mb-3">
          <div class="col col-auto">
            <a routerLink="/panel/objects/categories" class="button button_blue">دسته بندی کالاها</a>
          </div>
          <div class="col col-auto">
            <a routerLink="/panel/objects" class="button button_grey_orange">کالاها</a>
          </div>
          <div class="col col-auto">
            <a routerLink="/panel/objects" class="button button_grey_orange">برچسب کالاها</a>
          </div>
        </div>

        <div class="sep sep-dashed my-3"></div>

        <div class="row mb-3">
          <div class="col col-auto">
            <a routerLink="/panel/storages" class="button button_blue">انبارها</a>
          </div>
          <div class="col col-auto">
            <a class="button button_grey_orange">دپارتمان ها</a>
          </div>
        </div>

        <div class="sep sep-dashed my-3"></div>

        <div class="row mb-3">
          <div class="col col-auto">
            <a class="button button_grey_orange">دستگاه ها</a>
          </div>
          <div class="col col-auto">
            <a class="button button_grey_orange">تعمیر و نگهداری</a>
          </div>
        </div>

        <div class="sep sep-dashed my-3"></div>

        <div class="row mb-3">
          <div class="col col-auto">
            <a class="button button_grey_orange">کارکنان</a>
          </div>
          <div class="col col-auto">
            <a class="button button_grey_orange">تأمین کنندگان</a>
          </div>
        </div>

        <div class="sep sep-dashed my-3"></div>

      </div>
    </div>

    <div class="card">
      <div class="card-header">فرم ها</div>
      <div class="card-body">

        <div class="row mb-3">

          <div class="col col-auto">
            <a class="button button_grey_orange">رسید ورود کالا</a>
          </div>

          <div class="col col-auto">
            <a class="button button_grey_orange">برگشت ورود کالا</a>
          </div>

        </div>

        <div class="sep sep-dashed my-3"></div>

        <div class="row mb-3">

          <div class="col col-auto">
            <a class="button button_grey_orange">رسید خروج کالا</a>
          </div>

          <div class="col col-auto">
            <a class="button button_grey_orange">برگشت خروج کالا</a>
          </div>

        </div>

      </div>
    </div>

  </div>-->

</div>
